<div class="container">
    <h1>Questions for Quiz: <%= quizId %></h1>
    <a href="/questions/quizzes/<%= quizId %>/create" class="btn btn-primary">Create New Question</a>
    <table class="table">
        <thead>
            <tr>
                <th>Text</th>
                <th>Options</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% questions.forEach(question => { %>
            <tr>
                <td><%= question.text %></td>
                <td><%= question.options.join(', ') %></td>
                <td>
                    <a href="/questions/edit/<%= question._id %>" class="btn btn-warning">Edit</a>
                    <form action="/questions/<%= question._id %>?_method=DELETE" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>