<%- include('../partials/header.hbs') %>

<h1>Questions</h1>
<a href="/questions/create" class="btn btn-primary">Create New Question</a>
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>Text</th>
            <th>Options</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% questions.forEach(question => { %>
            <tr>
                <td><%= question._id %></td>
                <td><%= question.text %></td>
                <td><%= question.options.join(', ') %></td>
                <td>
                    <a href="/questions/<%= question._id %>" class="btn btn-info">View</a>
                    <a href="/questions/edit/<%= question._id %>" class="btn btn-warning">Edit</a>
                    <form action="/questions/<%= question._id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<%- include('../partials/footer.hbs') %>
